/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,500&display=swap");

body,
html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  background-color: rgb(240, 238, 238);
  font-family: "Poppins", sans-serif;
}

h3 {
  font-weight: normal;
}

#cart-count {
  margin-left: 10px;
}

img {
  max-width: 100%;
  display: block;
}

/*
****
****
   HEADER
***
***
 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b141c;
  margin: 0 0 20px 0;
  height: auto;
}

.header__title {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.header__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 30px 20px;
}

.header__link:hover {
  background-color: #f3961c;
  transition: 0.15s;
}

/*
****
****
   Product
***
***
 */
#product-section {
  padding: 0 20px;
}

.product {
  padding: 5px 7px 180px 7px;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0px 1px 5px rgba(20, 13, 8, 0.2);
  border-radius: 8px;
  position: relative;
}

.product__image {
  width: 100%;
  height: auto;
}

.product__title {
  position: absolute;
  bottom: 70px;
  left: 30px;
}

.product__price {
  position: absolute;
  bottom: 40px;
  left: 30px;
}

.product__cart-btn {
  position: absolute;
  bottom: 10px;
  right: 30px;
  left: 30px;
  padding: 5px 0;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
}

.product__cart-btn:hover {
  background-color: #f3961c;
  transition: 0.15s;
}

/*
****
****
   Cart page
***
***
 */
.cart-container {
  display: flex;
  justify-content: flex-start;
  padding-right: 30px;
  max-width: 1120px;
  margin: 0 auto;
}

.cart__products {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 50px;
  flex: 2;
}

.cart__products .product {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 20px;
  max-width: 700px;
  min-width: 250px;
  margin: 0 auto;
  height: 230px;
}

.cart__products .product__image {
  display: flex;
  max-width: 250px;
  margin-left: 50px;
}

.cart__products .product__title {
  position: static;
  margin-bottom: 20px;
}

.cart__products .product__price {
  position: static;
  margin-bottom: 20px;
}

.cart__products .product__quantity {
  display: inline-flex;
  align-items: center;
  border: 1px solid rgb(212, 209, 209);
}

.cart__products .product__quantity-btn {
  border: none;
  background-color: white;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
}

.product__quantity-btn:hover {
  background-color: #f3961c;
  transition: 0.15s;
}

.product__quantity-value {
  padding: 0 5px;
  width: 30px;
  text-align: center;
}

.product__image[src="images/chipotle-pølse.jpg"] {
  margin-top: 40px;
}

.product__image[src="images/fårikålkjøtt.jpg"] {
  margin-top: 30px;
}

.product__image[src="images/karbonader.jpg"] {
  margin-top: 20px;
}

.product__image[src="images/wienerpølser.jpg"] {
  margin-top: 10px;
}

.product__image[src="images/kyllingkjøttdeig.jpg"] {
  margin-top: 7px;
}

/*
****
****
   Summary
***
***
 */
.cart__summary {
  flex: 1;
}

.cart-summary__box {
  padding: 40px;
  height: 300px;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0px 1px 5px rgba(20, 13, 8, 0.2);
  border-radius: 8px;
}

.cart-summary__title {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 40px;
}

.cart-summary__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 15px;
}

.cart-summary__row--total {
  font-weight: bold;
}

.cart-summary__checkout-btn {
  width: 238px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 0;
  font-size: 17px;
  background-color: rgb(91, 196, 91);
  color: white;
  border: 2px solid rgb(80, 170, 80);
  border-radius: 7px;
  margin-top: 50px;
}

.cart-summary__checkout-btn:hover {
  background-color: rgb(68, 148, 68);
  border: 2px solid rgb(50, 129, 50);
}

/*
****
****
   Footer
***
***
 */
footer {
  padding: 20px 0 10px 0;
  text-align: center;
}

/*
****
****
   Media quaries
***
***
 */
@media (max-width: 1018px) {
  .cart__products .product {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 15px;
  }

  .cart__products .product__image {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .cart-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 100%;
    padding: 0;
    margin-right: 15px;
    box-sizing: border-box;
  }

  .cart__products,
  .cart__summary {
    width: 90%;
    max-width: 700px;
    padding: 0;
  }

  .cart-summary__box {
    max-width: 700px;
    width: 100%;
  }

  .cart-summary__checkout-btn {
    width: 100%;
    margin-top: 40px;
  }
}

@media (min-width: 1018px) {
  .cart-summary__box {
    width: 320px;
  }
}

/*
****
****
   Grid system
***
***
 */
.grid-12-column {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.xs-12 {
  grid-column: auto / span 12;
}

.xs-6 {
  grid-column: auto / span 6;
}

@media (width >= 768px) {
  .sm-6 {
    grid-column: auto / span 6;
  }

  .sm-4 {
    grid-column: auto / span 4;
  }

  .sm-3 {
    grid-column: auto / span 3;
  }
}

@media (width >= 992px) {
  .md-6 {
    grid-column: auto / span 6;
  }

  .md-4 {
    grid-column: auto / span 4;
  }

  .md-3 {
    grid-column: auto / span 3;
  }
}

@media (width >= 1200px) {
  .lg-6 {
    grid-column: auto / span 6;
  }
  .lg-4 {
    grid-column: auto / span 4;
  }
  .lg-3 {
    grid-column: auto / span 3;
  }
}
